  <div class="synth-help">
    <span class="synth-help__content">
      To toggle tips press "?"
    </span>
    <a class="synth-help__link" href="https://github.com/jimenglish81/glimmer-synth">
      <span class="synth-help__link--icon">view it on github</span>
    </a>
  </div>
