@import 'base';
@import 'synth-ctrl';
@import 'synth-volume';
@import 'synth-graphic';
@import 'synth-btn';
@import 'synth-key';
@import 'synth-keyboard';
@import 'synth-help';

#app {
  display: block;
}

.synth-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.synth {
  width: 1024px;

  &__keyboard-wrapper {
    padding: 0 0 0 1.6%;
  }
}

/*** media queries ***/

@media (max-width: 768px) {
  .synth {
    width: 568px;
  }

  .synth-btn {
    display: none;
  }

  .synth-ctrl__logo {
    font-size: 0.8em;
  }

  .synth-ctrl__volume {
    display: none;
  }

  .synth-help {
    display: none;
  }

  .synth-key--black {
    height: 112px;
  }

  .synth-key--white {
    height: 180px;
  }
}

@media (min-width: 580px)
and (max-width: 768px) {
  .synth-btn {
    display: block;
  }

  .synth {
    width: 620px;
  }
}

@media (max-height: 280px) {
  .synth-ctrl {
    display: none;
  }
}
