@import url(https://fonts.googleapis.com/css?family=Open+Sans:300|Gruppo|Roboto+Mono);

@mixin help-tip() {
  color: #4cbb17;
  font-weight: bolder;
}

::selection {
  background: #fefec8;
}

body {
  background-color: #6c2505;
  background-image:
    linear-gradient(94deg, rgba(91,33,5,.1) 0%,rgba(83,29,4,0.32) 23%,rgba(74,24,3,.41) 47%,rgba(80,27,5,0.44) 70%,rgba(81,27,5,0.59) 74%,rgba(93,33,4,0.2) 83%,rgba(115,43,3,.5) 100%),
    linear-gradient(90deg, #541c09 50%, transparent 50%),
    linear-gradient(90deg, #7a2e00 50%, #632401 50%);
  background-size: 40px 160px, 60px 29px, 27px 27px;
  margin: 0;
  padding: 0;
}
