.synth-help {
  align-items: center;
  background: #000;
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  justify-content: space-between;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5;

  &__content {
    font-size: 0.7em;
  }

  &__link {
    color: #fff;
    font-size: 0.7em;
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__link--icon {
    background: url(images/github.png) no-repeat left center;
    background-size: 1.2em 1.2em;
    padding-left: 1.6em;
  }
}
