$btn-shadow: #1C1C17;

.synth-btn {
  background-color: #e6e6e6;
  background-image:
    -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 6%, rgba(255, 255, 255, 0.1) 7.5%),
    -webkit-repeating-linear-gradient(left, transparent 0%, transparent 4%, rgba(0, 0, 0, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 1.2%, rgba(255, 255, 255, 0.15) 2.2%),
    linear-gradient(180deg, #c7c7c7 0%, #e6e6e6 47%, #c7c7c7 53%, #b3b3b3 100%);
  border: none;
  border-radius: 0.5em;
  box-shadow:
    inset #262626 0 0px 0px 2px,
    inset rgba(38, 38, 38, 0.8) 0 -1px 5px 4px,
    inset rgba(0, 0, 0, 0.25) 0 -1px 0px 7px,
    inset rgba(255, 255, 255, 0.7) 0 2px 1px 7px;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 0.65em;
  height: 40px;
  outline: none;
  position: relative;
  text-align: center;
  text-shadow:
    rgba(102, 102, 102, 0.5) 0 -1px 0,
    rgba(255, 255, 255, 0.6) 0 2px 1px;
  text-transform: uppercase;
  width: 75px;

  &:before {
    background: #646464;
    border-radius: 50%;
    box-shadow: 0 0 4px $btn-shadow;
    content: '';
    height: 6px;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.5s ease;
    width: 6px;
  }

  &--play {
    &--active:before {
      background: #4fffa7;
      box-shadow:
        0 0 4px $btn-shadow ,
        0 0 5px #42ffa1;
    }
  }

  &--record {
    &--active:before {
      background: #FF4F4F;
      box-shadow:
        0 0 4px $btn-shadow ,
        0 0 5px #FF4242;
    }
  }
}
