.synth-help {
  background: #000;
  box-sizing: border-box;
  bottom: 0;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.synth-help__content {
  font-size: 0.7em;
}
