<div class="synth">
  <div class="synth__ctrl-wrapper">
    <synth-ctrl @showTips={{showTips}} />
  </div>
  <div class="synth__keyboard-wrapper">
    <synth-keyboard @showTips={{showTips}} />
  </div>
  <synth-help />
</div>
