<div class="synth-volume" title="(+)/(-)">
  <div
    class="synth-volume__ctrl"
    style="transform: rotate({{angle}}deg)">
  </div>
  <div>
    {{#each ticks key="@index" as |tick|}}
      <div title="{{tick}}" class="synth-volume__tick"></div>
    {{/each}}
  </div>
</div>
